Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
*.log

*.env
*.local

node_modules/
npm-debug.log
yarn-error.log

/dist/
/build/
/public/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.tmp
*.temp
*.bak
*.swp
*.swo
